li{
    list-style: none;
}
.menu{
    margin: 0 auto;
    margin-top: 2px;
    display: inline-block!important;
    text-align: center;
    background-color:#2B2C30FF ;
}
.menu .menu-list .first-top{
	padding-left: 150px;
}
.menu .menu-list{
    float: none; 
    display: inline-block;
}
.menu .menu-list .find{
	border-radius: 20px;
}
.menu .menu-list li a{
	color: #ffff;
}
.menu .menu-list li a:hover{
	color: #2B2C30FF;
}
.all-box .photo-box video{
	margin-top: 50px;
	margin-left: 40px;
}
.all-box .photo-box .active{
	background-color: #6E7F90;
	border-radius: 15px;
	border: 2px solid rgba(0,0,0,0.6);
	border-left:2px dashed rgba(0,0,0,0.6);
	border-right:2px dashed rgba(0,0,0,0.6);
	float: right;
	margin-right: 120px;
	margin-top: 150PX;
	box-shadow: rgba(0,0,0,0.6) 10px -10px 20px 5px;
}
.all-box .photo-box .active h3{
	color: white;
	padding-top: 10px;
	line-height: 60px;
}
.all-box .photo-box .active h4{
	color: white;
	border-top: 2px dashed rgba(0,0,0,0.6);
	padding-top: 20px;
}
.all-box .photo-box .active a:hover{
	text-decoration: none;
}

nav{
	margin-top: 150px;
}